body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  min-width: 320px;
  color: #000000;
  -webkit-text-size-adjust: none;
}
h1{
  color:pink
}